<div class="container-fluid p-4">

    <div>
     <div class="d-flex justify-content-between">
        <p class="mt-2 mb-0 pb-0" style="font-size: 18px;"><b>Add Product</b> </p>
      <i (click)="CloseSiderbar()" class="fa-solid fa-circle-xmark " style="cursor: pointer;"></i> 

     </div>
        <p style="font-size: 12px;" class="mt-0 pt-0">We can add food template hare</p>
    </div>

    <hr style="background-color: white;">
    <form [formGroup]="productForm">
        <div class="row mt-4">
            <div class="col-6">
                <div>
                    <label class="font16 " for="">Enter Product Name</label>
                </div>
                <input class="form-control input" type="text" style="border: none; box-shadow: none;" placeholder="Enter Product Name" formControlName="productName"
                    [ngClass]="{'is-invalid':submitted && formOrder?.productName?.errors}">
                <div *ngIf="submitted && formOrder?.productName?.errors" class="invalid-feedback">
                    <div *ngIf="submitted && formOrder?.productName?.errors?.required" style="font-weight: 800;"> Product Name is required</div>
                </div>

                <label class="font16 mt-3" for="">Add Product Img</label>
                <div class="image-dropzone" (drop)="onDrop($event)" (dragover)="onDragOver($event)"
                    (click)="fileInput.click()">
                    <input type="file" formControlName="imgUpload" (change)="onFileSelected($event)" accept="image/*" style="display: none;"
                        #fileInput  [ngClass]="{'is-invalid':submitted &&formOrder?.imgUpload?.errors}"/>
                    <div *ngIf="!imagePreview" class="upload-text">
                        <!-- <p>Drag & drop an image here</p> -->
                        <img src="../../../assets//profile image.jpeg" height="120px" width="120px"  alt="">
                    </div>
                    
                    <div *ngIf="imagePreview" class="image-preview">
                        <img [src]="imagePreview" alt="Image Preview" />
                    </div>
                   
                </div>
                <div *ngIf="submitted && formOrder?.imgUpload?.errors" class="invalid-feedback">
                    <div *ngIf="submitted && formOrder?.imgUpload?.errors?.required" style="font-weight: 800;">Please Upload Img</div>
                  </div>




            </div>
            <div class="col-6">
                <div>
                    <label class="font16" for="">Enter Product Price</label>
                </div>
                <input class="form-control input" type="number" style="border: none; box-shadow: none;" placeholder="Enter Product Price"
                    formControlName="productPrice"
                    [ngClass]="{'is-invalid':submitted && formOrder?.productPrice?.errors}">
                <div *ngIf="submitted && formOrder?.productPrice?.errors" class="invalid-feedback">
                    <div *ngIf="submitted && formOrder?.productPrice?.errors?.required" style="font-weight: 800;"> Product Price is required</div>
                </div>
            </div>
        </div>

        <div class="btn-footer">
            
        <button (click)="saveData()" class="btn_submit_save mr-4">save</button>
        <button (click)="clearData()" class="btn_submit_save">cancel</button>
    </div>
    </form>
</div>