<div class="background mt-5 pt-4 font">
  <div class="mt-5 font">
    <form [formGroup]="userForm" class="set_form_data">
      <h4 class="card-title text-center">{{ 'REGISTER' | translate }}</h4>
      <div>
        <input type="text" id="OwnerName" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g,'')"
          formControlName="OwnerName" placeholder="{{ 'OWNER_NAME' | translate }}"
          [ngClass]="{'is-invalid': submitted && userForm.controls.OwnerName.errors}">
        <div *ngIf="submitted && userForm.controls.OwnerName.errors" class="invalid-feedback">
          <div *ngIf="userForm.controls.OwnerName.errors.required" style="color: red;">
            {{ 'OWNER_NAME_REQUIRED' | translate }}
          </div>
          <div *ngIf="userForm.controls.OwnerName.errors.pattern" style="color: red;">
            {{ 'ONLY_ALPHABETS' | translate }}
          </div>
          <div *ngIf="userForm.controls.OwnerName.errors.onlySpaces" style="color: red;">
            {{ 'NO_SPACES' | translate }}
          </div>
        </div>
      </div>

      <div>
        <input type="text" id="HotelName" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g,'')"
          formControlName="HotelName" placeholder="{{ 'HOTEL_NAME' | translate }}"
          [ngClass]="{'is-invalid': submitted && userForm.controls.HotelName.errors}">
        <div *ngIf="submitted && userForm.controls.HotelName.errors" class="invalid-feedback">
          <div *ngIf="userForm.controls.HotelName.errors.required" style="color: red;">
            {{ 'HOTEL_NAME_REQUIRED' | translate }}
          </div>
          <div *ngIf="userForm.controls.HotelName.errors.pattern" style="color: red;">
            {{ 'ONLY_ALPHABETS' | translate }}
          </div>
          <div *ngIf="userForm.controls.OwnerName.errors.onlySpaces" style="color: red;">
            {{ 'NO_SPACES' | translate }}
          </div>
        </div>
      </div>

      <div>
        <input type="text" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g,'')"
          formControlName="HotelLocation" placeholder="{{ 'HOTEL_ADDRESS' | translate }}"
          [ngClass]="{'is-invalid': submitted && userForm.controls.HotelLocation.errors}">
        <div *ngIf="submitted && userForm.controls.HotelLocation.errors" class="invalid-feedback">
          <div *ngIf="userForm.controls.HotelLocation.errors.required" style="color: red;">
            {{ 'HOTEL_ADDRESS_REQUIRED' | translate }}
          </div>
          <div *ngIf="userForm.controls.HotelLocation.errors.pattern" style="color: red;">
            {{ 'ONLY_ALPHABETS' | translate }}
          </div>
          <div *ngIf="userForm.controls.OwnerName.errors.onlySpaces" style="color: red;">
            {{ 'NO_SPACES' | translate }}
          </div>
        </div>
      </div>

      <div>
        <input type="text" id="Hotel" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g,'')"
          formControlName="Hotel" placeholder="{{ 'HOTEL_SPECIALITY' | translate }}"
          [ngClass]="{'is-invalid': submitted && userForm.controls.Hotel.errors}">
        <div *ngIf="submitted && userForm.controls.Hotel.errors" class="invalid-feedback">
          <div *ngIf="userForm.controls.Hotel.errors.required" style="color: red;">
            {{ 'HOTEL_SPECIALITY_REQUIRED' | translate }}
          </div>
          <div *ngIf="userForm.controls.Hotel.errors.pattern" style="color: red;">
            {{ 'ONLY_ALPHABETS' | translate }}
          </div>
          <div *ngIf="userForm.controls.OwnerName.errors.onlySpaces" style="color: red;">
            {{ 'NO_SPACES' | translate }}
          </div>
        </div>
      </div>

      <div>
        <input type="text" id="contactNumber" maxlength="10" oninput="this.value = this.value.replace(/[^0-9]/g,'')"
          formControlName="contactNumber" placeholder="{{ 'CONTACT_NUMBER' | translate }}"
          [ngClass]="{'is-invalid': submitted && userForm.controls.contactNumber.errors}">
        <div *ngIf="submitted && userForm.controls.contactNumber.errors" class="invalid-feedback">
          <div *ngIf="userForm.controls.contactNumber.errors.required" style="color: red;">
            {{ 'CONTACT_NUMBER_REQUIRED' | translate }}
          </div>
          <div *ngIf="userForm.controls.contactNumber.errors.pattern" style="color: red;">
            {{ 'CONTACT_NUMBER_PATTERN' | translate }}
          </div>
        </div>
      </div>

      <div>
        <input type="text" id="hotelRegisterNumber" maxlength="10"
          oninput="this.value = this.value.replace(/[^0-9]/g,'')" formControlName="hotelRegisterNumber"
          placeholder="{{ 'HOTEL_REGISTER_NUMBER' | translate }}"
          [ngClass]="{'is-invalid': submitted && userForm.controls.hotelRegisterNumber.errors}">
        <div *ngIf="submitted && userForm.controls.hotelRegisterNumber.errors" class="invalid-feedback">
          <div *ngIf="userForm.controls.hotelRegisterNumber.errors.required" style="color: red;">
            {{ 'HOTEL_REGISTER_NUMBER_REQUIRED' | translate }}
          </div>
          <div *ngIf="userForm.controls.hotelRegisterNumber.errors.pattern" style="color: red;">
            {{ 'CONTACT_NUMBER_PATTERN' | translate }}
          </div>
        </div>
      </div>

      <button type="submit" class="add-resgister font-weight-bold" (click)="submit()" style="margin-left: 35%;">
        {{ 'REGISTER' | translate }}
      </button>
    </form>
  </div>
</div>
<div style="background-color: white; color: black;">
  <h3 class="text-center font-weight-bold">{{ 'HOTEL_CHECK_IN_RECORD' | translate }}</h3>
</div>
<table class="table table-striped table-color">
  <thead>
    <tr>
      <th scope="col" class="pl-4">{{ 'OWNER_NAME' | translate }}</th>
      <th scope="col">{{ 'HOTEL_NAME' | translate }}</th>
      <th scope="col">{{ 'HOTEL_ADDRESS' | translate }}</th>
      <th scope="col">{{ 'HOTEL_SPECIALITY' | translate }}</th>
      <th scope="col">{{ 'CONTACT_NUMBER' | translate }}</th>
      <th scope="col">{{ 'HOTEL_REGISTER_NUMBER' | translate }}</th>
      <th scope="col" class="pl-5">{{ 'ACTION' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="pl-4">{{'SIVAVARDHAN' | translate}}</th>
      <td>{{'HOTEL TAAZ' | translate}}</td>
      <td>{{'MUMBAI' | translate}}</td>
      <td>{{'VEG' | translate}}</td>
      <td>{{'8767066911' | translate}}</td>
      <td>{{'4796830' | translate}}</td>
      <td>
        <button class="edit_button">{{ 'EDIT' | translate }}</button>
        <button class="ml-2 edit_button">{{ 'DELETE' | translate }}</button>
      </td>
    </tr>
  
    <tr>
      <th scope="row" class="pl-4">{{'SIVAVARDHAN' | translate}}</th>
      <td>{{'HOTEL TAAZ' | translate}}</td>
      <td>{{'MUMBAI' | translate}}</td>
      <td>{{'VEG' | translate}}</td>
      <td>{{'8767066911' | translate}}</td>
      <td>{{'4796830' | translate}}</td>
      <td>
        <button class="edit_button">{{ 'EDIT' | translate }}</button>
        <button class="ml-2 edit_button">{{ 'DELETE' | translate }}</button>
      </td>
    </tr>

    <tr>
      <th scope="row" class="pl-4">{{'SIVAVARDHAN' | translate}}</th>
      <td>{{'HOTEL TAAZ' | translate}}</td>
      <td>{{'MUMBAI' | translate}}</td>
      <td>{{'VEG' | translate}}</td>
      <td>{{'8767066911' | translate}}</td>
      <td>{{'4796830' | translate}}</td>
      <td>
        <button class="edit_button">{{ 'EDIT' | translate }}</button>
        <button class="ml-2 edit_button">{{ 'DELETE' | translate }}</button>
      </td>
    </tr>

    <tr>
      <th scope="row" class="pl-4">{{'SIVAVARDHAN' | translate}}</th>
      <td>{{'HOTEL TAAZ' | translate}}</td>
      <td>{{'MUMBAI' | translate}}</td>
      <td>{{'VEG' | translate}}</td>
      <td>{{'8767066911' | translate}}</td>
      <td>{{'4796830' | translate}}</td>
      <td>
        <button class="edit_button">{{ 'EDIT' | translate }}</button>
        <button class="ml-2 edit_button">{{ 'DELETE' | translate }}</button>
      </td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">{{ 'PREVIOUS' | translate }}</a></li>
    <li class="page-item"><a class="page-link" href="#">{{'1' | translate}}</a></li>
    <li class="page-item"><a class="page-link" href="#">{{'2' | translate}}</a></li>
    <li class="page-item"><a class="page-link" href="#">{{'3' | translate}}</a></li>
    <li class="page-item"><a class="page-link" href="#">{{ 'NEXT' | translate }}</a></li>
  </ul>
</nav>