.background-container {
    background-image: url('../../../assets/img8.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 15%;
    height: 92vh;
    /* Full viewport height */
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.select-set {
    height: 7vh;
    width: 20%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: none;
}

.search-set {
    height: 7vh;
    width: 40%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

}
  
  .text-light {
    color: white;
  }
  
  .text-center {
    text-align: center;
  }
  
  .mt-5 {
    margin-top: 3rem;
  }
  
  .select-set, .search-set {
    padding-left: 20px;
    margin: 5px;
  }
  
  .pl-5 {
    padding-left: 3rem;
  }
  