.background-container {
    background-image: url('../../../assets/img8.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 15%;
    height: 93vh;
    /* Full viewport height */
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

  
  .text-light {
    color: white;
  }
  
  .text-center {
    text-align: center;
  }
  
  .mt-5 {
    margin-top: 3rem;
  }
  

  
  .search-set {
    height: 7vh;
    width: 40%;
    border-radius: 100px;
    margin-left: 30%;
}

  .pl-5 {
    padding-left: 3rem;
  }
  
  .input-container {
    position: relative;
    display: flex;
    align-items: center;
 
}

.input-container input {
    padding-left: 60px;
}

.input-container img {
    position: absolute;
    left: 30%;
    width: 20px;
    height: 20px;
}

