<div class="row bg-color pt-4 mt-5">
  <h2 class="heading ">Famous Foods In India</h2>
</div>

<div class="row pt-3  bg-clr pl-4">

  <div class="col-sm-3">
    <div class="card p-3 m-2 borders " style="width: 17rem;height: 21rem;">
      <img src="../../../assets/img5.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text"> combines 2 or more ingredients to produce a homogenous mixture that can be replicated
          time.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">  
    <div class="card p-3 m-2 borders" style="width:  17rem;height: 21rem;">
      <img src="../../../assets/img6.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">A burger is a patty of ground beef grilled and placed between two halves of a bun</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card p-3 m-2 borders" style="width:  17rem; height: 21rem;">
      <img src="../../../assets/img4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text"> a popular meal among the Himalayas and is the unofficial national dish of Nepal.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card p-3 m-2 borders" style="width:  17rem; height: 21rem;">
      <img src="../../../assets/img6.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Most burgers at restaurants or fast food outlets contain beef. The beef is ground and
          shaped into a patty.</p>
      </div>
    </div>
  </div>
</div>



<div class="row pt-5 bg-clr pl-4">
  <div class="col-sm-3">
    <div class="card p-3 m-2 borders" style="width: 17rem;height: 21rem;">
      <img src="../../../assets/img1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">a basket, bag, box, or similar container, carried in pairs either slung over the back of a
          beast of burden, or attached to the sides of a bicycle or motorcycle.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card p-3 m-2 borders" style="width: 17rem;height: 21rem;">
      <img src="../../../assets/img2.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">The Bullet Thali is a non-vegetarian platter consisting of around 12 dishes made with 4
          kilograms of mutton and fish. </p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card p-3 m-2 borders" style="width: 17rem;height: 21rem;">
      <img src="../../../assets/img3.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">A vegetarian diet is one that does not include any meat or seafood.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card p-3 m-2 borders" style="width: 17rem;height: 21rem;">
      <img src="../../../assets/img4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some fresh snacks include watery cucumbers sprinkled with some salt and spices.</p>
      </div>
    </div>
  </div>
</div>