<div class="set-background mt-5 font">
  <div class="container-fluid py-5">
    <div class="row ">
      <div class="col-12 col-md-5 mb-3 mb-md-0">
        <div class="d-flex justify-content-center justify-content-md-start flex-wrap set-content-middle">
          <a href="#" class="text-white">{{ 'HOME' | translate }}</a>
          <a href="#" class="text-white">{{ 'FOODS' | translate }}</a>
          <a href="#" class="text-white">{{ 'ADD_RESTAURANT' | translate }}</a>
          <a href="#" class="text-white">{{ 'LOGIN' | translate }}</a>
          <a href="#" class="text-white">{{ 'SIGN_IN' | translate }}</a>
          <a href="#" class="text-white">{{ 'CONTACT_US' | translate }}</a>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3 mb-md-0">
        <div class="row">
          <div class="col-12 col-sm-6">
            <ul class="list-unstyled">
              <li style="font-size: 20px;"><u>{{ 'USEFUL_LINKS' | translate }}</u></li>
              <div style="font-size: 15px;">
                <li class="mt-2"><a href="#" class="text-white">{{ 'AADHAR_ENROLLMENT_CENTRE' | translate }}</a></li>
                <li class="mt-2"><a href="#" class="text-white">{{ 'FEEDBACK' | translate }}</a></li>
                <li class="mt-2"><a href="#" class="text-white">{{ 'SUBSCRIBE_US' | translate }}</a></li>
                <li class="mt-2"><a href="#" class="text-white">{{ 'TERMS_OF_USE' | translate }}</a></li>
                <li class="mt-2"><a href="#" class="text-white">{{ 'PRIVACY_POLICY' | translate }}</a></li>
                <li class="mt-2"><a href="#" class="text-white">{{ 'HYPERLINKING_POLICY' | translate }}</a></li>
                <li class="mt-2"><a href="#" class="text-white">{{ 'COPYRIGHT_POLICY' | translate }}</a></li>
              </div>
            </ul>
          </div>
          <div class="col-12 col-sm-6">
            <ul class="list-unstyled">
              <li><u style="font-size:20px;">{{ 'SOCIAL_MEDIA_LINKS' | translate }}</u></li>
              <div style="font-size: 15px;">
                <li class="mt-2"><a href="#" class="text-white"><img src="../../../assets/instagram-image.jpeg" alt="" class="socialmedia-instagram-icons1">{{ 'INSTAGRAM' | translate }}</a></li>
                <li class="mt-2"><a href="#" class="text-white"><img src="../../../assets/youtube-image.png" alt="" class="socialmedia-youtube-icons2">{{ 'YOUTUBE' | translate }}</a></li>
                <li class="mt-2"><a href="#" class="text-white"><img src="../../../assets/linkdin-image.png" alt="" class="socialmedia-linkdin-icons3">{{ 'LINKEDIN' | translate }}</a></li>
                <li class="mt-2"><a href="#" class="text-white"><img src="../../../assets/whatsapp-image.png" alt="" class="socialmedia-whatsapp-icons4">{{ 'WHATSAPP' | translate }}</a></li>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div>
          <div style="display: flex">
            <div><img src="../../../assets//location-image.png" class="socialmedia-whatsapp-icons4" alt=""></div>
            <div style="font-size: 14px;"> <span style="font-size: 20px;">{{ 'KHADYA_BHAVAN' | translate }}</span> <p>{{ 'ADDRESS' | translate }}</p> </div>
          </div>
          <div style="display: flex">
            <div><img src="../../../assets/contact-image.png" class="socialmedia-whatsapp-icons4" alt=""></div>
            <div style="font-size: 14px;">{{ 'TOLL_FREE' | translate }}</div>
          </div>
          <div style="display: flex">
            <div><img src="../../../assets/email-image.png" class="socialmedia-whatsapp-icons4" alt=""></div>
            <div style="font-size: 14px;"><a class="list-unstyled text-white " href="">{{ 'FOR_SUPPORT_CLICK_HERE' | translate }}</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
