<div class="set-background">
    <div class="container-fluid py-5">
      <div class="row ">
        <div class="col-12 col-md-5 mb-3 mb-md-0">
          <div class="d-flex justify-content-center justify-content-md-start flex-wrap set-content-middle" >
            <a href="#" class="text-white">Home</a>
            <a href="#" class="text-white">Foods</a>
            <a href="#" class="text-white">Add Restaurant</a>
            <a href="#" class="text-white">Login</a>
            <a href="#" class="text-white">Sign in</a>
            <a href="#" class="text-white">Contact Us</a>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-3 mb-md-0">
          <div class="row">
            <div class="col-12 col-sm-6">
              <ul class="list-unstyled">
                <li style="font-size: 20px;"><u>Useful Links</u></li>
                <div style="font-size: 15px;">
                  <li class="mt-2"><a href="#" class="text-white">Aadhar Enrollment Centre</a></li>
                  <li class="mt-2"><a href="#" class="text-white">Feedback</a></li>
                  <li class="mt-2"><a href="#" class="text-white">Subscribe Us</a></li>
                  <li class="mt-2"><a href="#" class="text-white">Terms Of Use</a></li>
                  <li class="mt-2"><a href="#" class="text-white">Privacy Policy</a></li>
                  <li class="mt-2"><a href="#" class="text-white">Hyperlinking Policy</a></li>
                  <li class="mt-2"><a href="#" class="text-white">Copyright Policy</a></li>
                </div>
                
              </ul>
            </div>
            <div class="col-12 col-sm-6">
              <ul class="list-unstyled">
                <li><u style="font-size:20px;">Social Media Links</u></li>
                <div style="font-size: 15px;">
                  <li class="mt-2"><a href="#" class="text-white"><img src="../../../assets/instagram-image.jpeg" alt="" class="socialmedia-instagram-icons1">Instagram</a></li>
                  <li class="mt-2"><a href="#" class="text-white"><img src="../../../assets/youtube-image.png" alt="" class="socialmedia-youtube-icons2"> Youtube</a></li>
                  <li class="mt-2"><a href="#" class="text-white"><img src="../../../assets/linkdin-image.png" alt="" class="socialmedia-linkdin-icons3">Linkdin </a></li>
                  <li class="mt-2"><a href="#" class="text-white"><img src="../../../assets/whatsapp-image.png" alt="" class="socialmedia-whatsapp-icons4">Whatsapp </a></li>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3 ">
         
          <div>
            <div style="display: flex">
                <div><img src="../../../assets//location-image.png" class="socialmedia-whatsapp-icons4"  alt=""></div>
                <div style="font-size: 14px;"> <span style="font-size: 20px;">Khadya Bhavan</span>   <p>11A, Mirza Ghalib Street, Kolkata - 700087, West Bengal</p> </div>
            </div>

            <div style="display: flex">
              <div><img src="../../../assets/contact-image.png" class="socialmedia-whatsapp-icons4"  alt=""></div>
              <div style="font-size: 14px;"> 1800 345 5505 / 1967 (TOLL FREE) </div>
          </div>
          <div style="display: flex">
            <div><img src="../../../assets/email-image.png" class="socialmedia-whatsapp-icons4"  alt=""></div>
            <div style="font-size: 14px;"><a class="list-unstyled text-white " href=""> For Support, Click Here</a> </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  