input {
  width: 35%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 9px;
  border: 1px solid #2d2b31;
  box-sizing: border-box;
}
.container {
  margin-left: 32%;
   margin-top: 4%;

   border: 1px solid #2d2b31;
   box-sizing: border-box;
}
