<div class="container">
  <h4>Register</h4>
  <form [formGroup]="loginForm" (ngSubmit)="onsubmit()">
    <div>
      <input type="text" formControlName="ownerName" class="mt-1" placeholder="Owner Name" />
      <div *ngIf="loginForm.get('ownerName').invalid && loginForm.get('ownerName').touched">
        Owner Name is required.
      </div>
    </div>
    <div>
      <input type="text" formControlName="hotelName" class="mt-3" placeholder="Hotel Name" />
      <div *ngIf="loginForm.get('hotelName').invalid && loginForm.get('hotelName').touched">
        Hotel Name is required.
      </div>
    </div>
    <div>
      <input type="text" formControlName="hostelName" class="mt-3" placeholder="Hotel Location" />
      <div *ngIf="loginForm.get('hostelName').invalid && loginForm.get('hostelName').touched">
        Hotel Location is required.
      </div>
    </div>
    <div>
      <input type="text" formControlName="hotel" class="mt-3" placeholder="Hotel" />
      <div *ngIf="loginForm.get('hotel').invalid && loginForm.get('hotel').touched">
        Hotel is required.
      </div>
    </div>
    <div>
      <input type="text" formControlName="contactNumber" class="mt-3" placeholder="Contact Number" />
      <div *ngIf="loginForm.get('contactNumber').invalid && loginForm.get('contactNumber').touched">
        Contact Number is required and should be a valid number.
      </div>
    </div>
    <div>
      <input type="text" formControlName="hotelRegisterNumber" class="mt-3" placeholder="Hotel Register Number" />
      <div *ngIf="loginForm.get('hotelRegisterNumber').invalid && loginForm.get('hotelRegisterNumber').touched">
        Hotel Register Number is required.
      </div>
    </div>
    <button type="submit" class="mt-3 btn btn-warning" style="margin-left: 11%;">Register</button>
  </form>
</div>
