
<div class="background-container">
    <div class="login-box">
        <div class="ml-2 text-center">
            <h3 class="font-weight-bold">LOGIN</h3>
        </div>
        <div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="number_btn">
                    <input class="input-box font-weight-bold phone_number_input" formControlName="phonenumber" placeholder="Phone Number">
                    <button class="cross_btn active font-weight-bold" type="button" (click)="onSubmit()">></button>
                </div>
                <div *ngIf="submittedloginForm && f['phonenumber'].errors?.['required']" class="error-red">
                    Phone Number is required.
                </div>
                <div class="text-center my-4">
                    <h4 class="font-weight-bold">OTP</h4>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <div class="p-2">
                        <input type="text" class="form-control otp-input" maxlength="1">
                    </div>
                    <div class="p-2">
                        <input type="text" class="form-control otp-input" maxlength="1">
                    </div>
                    <div class="p-2">
                        <input type="text" class="form-control otp-input" maxlength="1">
                    </div>
                    <div class="p-2">
                        <input type="text" class="form-control otp-input" maxlength="1">
                    </div>
                    <div class="p-2">
                        <input type="text" class="form-control otp-input" maxlength="1">
                    </div>
                    <div class="p-2">
                        <input type="text" class="form-control otp-input" maxlength="1">
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn_color font-weight-bold">Login</button>
                </div>
            </form>
        </div>
        <div class="text-center pt-5">
            <p class="font-weight-bold">New to Food Services? <strong class="create_account_text">Create Account</strong></p>
        </div>
    </div>
</div>

