
    .background-container {
        background-image: url('../../../assets/top-view-arrangement-with-salad-boxes-sauce_23-2148247882.avif');
        background-size: cover;
        background-position: center;
        width: 100%;
        padding-top: 15%;
        height: 100vh;
       
    }

.otp-input {
    width: 40px;
    text-align: center;
    border: 1px solid black;
}

.btn_color {
    background-color:black;
    color:white;
    border: none;
    box-shadow: 5px;
    padding: 5px 15px 5px 15px;
    
}

// .offset-sm-3 {
//     padding-left: 20px;
// }

.contact_box {
    height: 5vh;
    width: 20%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: none;
}

.phone-number-input {
    width: 95%;
}
.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.input-box {
    border: 1px solid black;
    padding: 10px;
    height: 40px;
    box-sizing: border-box;
}
.input-box-left {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.input-box-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 75%;
}
.create_account_text{
    color: orangered;
}
.bgimage{
    height: 100%;
    width: 100%;
}
.colorin{
    background-color: rgb(255, 255, 255);
    border: 3px solid grey;
    position: relative;
    left:50px;
    height: 100%;
    bottom:150px;
  
}