<div class="row bg-color pt-4 mt-5">
  <h2 class="heading">{{ 'FAMOUS_FOODS_IN_INDIA' | translate }}</h2>
</div>

<div class="row pt-3 bg-clr pl-4">
  <!-- Product Card 1 -->
  <div class="col-sm-3">
    <div class="card p-3 m-2 borders" style="width: 17rem; height: 21rem;">
      <img src="../../../assets/img5.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">{{ 'FOOD_DESCRIPTION_1' | translate }}</p>
      </div>
    </div>
  </div>

  <!-- Product Card 2 -->
  <div class="col-sm-3">
    <div class="card p-3 m-2 borders" style="width: 17rem; height: 21rem;">
      <img src="../../../assets/img6.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">{{ 'FOOD_DESCRIPTION_2' | translate }}</p>
      </div>
    </div>
  </div>

  <!-- Product Card 3 -->
  <div class="col-sm-3">
    <div class="card p-3 m-2 borders" style="width: 17rem; height: 21rem;">
      <img src="../../../assets/img4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">{{ 'FOOD_DESCRIPTION_3' | translate }}</p>
      </div>
    </div>
  </div>

  <!-- Product Card 4 -->
  <div class="col-sm-3">
    <div class="card p-3 m-2 borders" style="width: 17rem; height: 21rem;">
      <img src="../../../assets/img6.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">{{ 'FOOD_DESCRIPTION_4' | translate }}</p>
      </div>
    </div>
  </div>
</div>

<div class="row pt-5 bg-clr pl-4">
  <!-- Product Card 5 -->
  <div class="col-sm-3">
    <div class="card p-3 m-2 borders" style="width: 17rem; height: 21rem;">
      <img src="../../../assets/img1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">{{ 'FOOD_DESCRIPTION_5' | translate }}</p>
      </div>
    </div>
  </div>

  <!-- Product Card 6 -->
  <div class="col-sm-3">
    <div class="card p-3 m-2 borders" style="width: 17rem; height: 21rem;">
      <img src="../../../assets/img2.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">{{ 'FOOD_DESCRIPTION_6' | translate }}</p>
      </div>
    </div>
  </div>

  <!-- Product Card 7 -->
  <div class="col-sm-3">
    <div class="card p-3 m-2 borders" style="width: 17rem; height: 21rem;">
      <img src="../../../assets/img3.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">{{ 'FOOD_DESCRIPTION_7' | translate }}</p>
      </div>
    </div>
  </div>

  <!-- Product Card 8 -->
  <div class="col-sm-3">
    <div class="card p-3 m-2 borders" style="width: 17rem; height: 21rem;">
      <img src="../../../assets/img4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">{{ 'FOOD_DESCRIPTION_8' | translate }}</p>
      </div>
    </div>
  </div>
</div>
